*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    --color1: #52357B;
    --color2: #5459AC;
    --color3: #648DB3;
    --color4: #B2D8CE;
}

a{
    text-decoration: none;
    color: white
}

li {
    list-style: none;
}


/* Dialog section */
.window{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20vh;
    width: 20vw;
    min-width: 300px;
    min-height: 150px;
}

#bookForm{
    height:100%;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5,1fr);
}

#bookForm > div{
    display: grid;
    grid-template-columns: 80px 1fr;
}

.action-btns{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.action-btns > button{
    border: #0B1D51 1px solid;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
}

/* navbar section */
.navbar{
    background-color: var(--color3);
    height: 10vh;
    padding: 2vh 32px;
    display: flex;
    align-items: center;
    font-family: 'Bebas Neue';
    position: sticky;
    top:0;
}

.logo{
    color: white;
    margin-right: auto;
    font-size: 2.5rem;

}

.navbar > ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap:2rem
}

.nav-item {
    display: grid;
    align-items: end;
    grid-template-columns: 1.5rem 1fr;
    gap:4px;
    padding-right: 4px;
}

.nav-item:hover:nth-child(n+2){
    background-color: var(--color2);
    cursor: pointer;
}


.nav-item > img{
    width: 1.5rem;
    height: auto;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(217deg) brightness(101%) contrast(106%);
}