.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth": 100;
}



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

html{
    --color1: #7c8cb3;
    --color2: #6f8fb3;
    --color3: #6466b3;
    --table-borders: solid 1px black;
    --table-spacing:1rem;
}

a{
    text-decoration: none;
    color: white
}

li {
    list-style: none;
}

body {
    background-color: var(--color1);
    color:white;
}

/* main section */
.container{
    margin:24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: ;
}

#addBook{
    padding: 16px 64px;
    margin-bottom: 16px;
    background-color: white;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 2px black;
}

#addBook:hover{
    cursor: pointer;
    background-color: lightgray;
}

#addBook:active{
    box-shadow: 0 0 4px inset;
}

/* Table section */
table{
    background-color: var(--color2);
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: var(--table-borders);
}

caption{
    font-family: "Roboto";
    font-size: 3rem;
    padding: 0.5rem;
}

/* Table header column widths */
thead th:nth-child(1){
    width: 35%;
}
thead th:nth-child(2){
    width: 35%;
}
thead th:nth-child(3){
    width: 12.5%;
}
thead th:nth-child(4){
    width: 12.5%;
}
thead th:nth-child(5){
    width: 5%;
}

thead th{
    background-color: #2f3652 ;
    padding: var(--table-spacing);
}

tbody td{
    text-align: center;
    word-break: break-word;
}
tbody tr:nth-child(odd){
    background-color:  #4a5a78 ;
}
tbody td:not(:last-child) /* excludes remove button from padding*/ {
    padding: var(--table-spacing);
}

/* Read button */
.status{
    border: none;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 0 2px black;
}

.status:hover{
    cursor: pointer;
    background-color: lightgray;
}

.status:active{
    box-shadow: 0 0 4px inset black;
}

/* Remove buton */
.remove{
    padding: 4px;
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 2px black;
}

.remove:hover{
    cursor: pointer;
    background-color: lightgray;
}

.remove:active{
    box-shadow: 0 0 4px inset black;
}

/* Dialog section */
.window{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 25vw;
    min-width: 300px;
    min-height: 150px;
    padding: 4vh;
}

#bookForm{
    height:100%;
    width: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(5,1fr);
}

#bookForm > div{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.action-btns{
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.action-btns > button{
    border: #0B1D51 1px solid;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
}



/* navbar section */
.navbar{
    background-color: var(--color3);
    height: 10vh;
    padding: 2vh 32px;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
}

.navbar *{
    font-family: 'Bebas Neue';
}

.logo{
    color: white;
    margin-right: auto;
    font-size: 2.5rem;
}

.navbar > ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap:2rem
}

.nav-item {
    display: grid;
    align-items: end;
    grid-template-columns: 1.5rem 1fr;
    gap:4px;
    padding-right: 4px;
}

.nav-item:hover:nth-child(n+2){
    background-color: var(--color2);
    cursor: pointer;
}

.nav-item > img{
    width: 1.5rem;
    height: auto;
    filter: invert(98%) sepia(2%) saturate(0%) hue-rotate(217deg) brightness(101%) contrast(106%);
}